@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Rubik:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Roboto", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --bg-top-side: #F1F8FF;
  --border: #92B8E3;
}

img {
  max-width: 100px;
}

.estrutura {
  display: grid;
  grid-template-columns: minmax(1fr, 265px) auto;
  grid-template-areas:
  "header header";
}

/* Header */

.header {
  background: var(--bg-top-side);
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 60px;
  box-shadow: 0px 4px 10px 0px rgba(41, 41, 41, 0.05);
  border-bottom: 1px solid var(--border);
}

.logo, .user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: blue;
}