@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Rubik:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Roboto", sans-serif;
}

.pai {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f5f5f5;
}

.conteudo {
  background: #104179;
  padding: 50px;
  border: 1px solid #353a47;
  border-radius: 10px;
}

.titulo {
  font-size: 4em;
  color: #e0e0e0;
  font-weight: 300;
  text-align: center;
}

.pai p {
  color: #f0f0f0;
  font-size: 1em;
  font-weight: 400;
  font-family: Roboto;
  margin-top: -10px;
  text-align: center;
}

.img1,
.img2 {
  max-width: 40px;
}

.form-item {
  margin-top: 28px;
  width: 400px;
  height: 60px;
  padding-left: 8px;
  background-color: #f5f5f5;
  border: 2px solid #0f57a8;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.input-item {
  background: transparent;
  font-size: 1.25em;
  font-family: Roboto;
  border: none;
  letter-spacing: 0.08px;
  outline: none;
  display: inline-block;
  width: 320px;
}

.pai button {
  cursor: pointer;
  width: 400px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(180deg, #162a41 0%, #0c1e32 100%);
  margin-top: 40px;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.45px;
  font-size: 2.25em;
  text-transform: uppercase;
  color: #f1f8ff;
}

.pai button:hover {
  background: linear-gradient(180deg, #17304d 0%, #0d2540 100%);
}
::-ms-reveal {
  display: none;
}
