* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input {
  border-radius: 10px;
  border: none;
  outline: none;
}

.align-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input::-ms-clear {
  display: none;
}
